.formContainer {
    width: fit-content;
    margin: auto;
    margin-top: 40px;
}
.formContainer, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer, label {
    color: white;
}
.formContainer, input {
    color: white;
}
.formContainer, textarea {
    background-color: black;
    color: white;
}